<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.souvikbiswas.flutter_os_wear">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Required for ambient mode support -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <!-- Flags the app as a Wear app -->
    <uses-feature android:name="android.hardware.type.watch" />
    
    <!-- Flags that the app doesn't require a companion phone app -->
    <application>
    <meta-data
        android:name="com.google.android.wearable.standalone"
        android:value="true" />
    </application>
</manifest>
